body {
    font-family: 'Times New Roman', Times, serif;
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(134, 204, 161);
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 4px 12px rgba(80, 54, 54, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #906a6a;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    background: #577392;
    color: rgb(16, 12, 12);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #5f87b2;
}

.error {
    color: red;
    font-size: 12px;
}

.success {
    color: green;
    text-align: center;
    margin-top: 10px;
}